body {
   background: blueviolet;
   font: normal 19pt small-caption;
}

header {
    color: rgb(235, 20, 20);
    text-align: center; /*centralizando*/

}

section {
   background: white;  /*cor de fundo*/
   border-radius: 10px; /*Raio da borda*/
   padding: 80px; /*Altura fixa*/
   width: 500px;  /*largura fixa*/
   margin: auto; /*centralizando*/
   box-shadow: 5px 5px 10px rgba(168, 78, 78, 0.712);  /*inserindo sombra*/
              /* 5px de desloc.lateral 5px de desloc.vertical 5px de espalhamento */

}

div{
   text-align: center; /*centralizando*/
   padding: 12px; /*Altura fixa*/
}


footer {
   color: rgba(233, 118, 146, 0.616);
   text-align: center; /*centralizando*/
   font-style: italic;

}